<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static',filename='styles/test3.css') }}></style>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <div id="sideBar">
            <button id="addPlus" class="add_plus" onclick="animateButton(this)">
                <div id="plus" class="plus">
                <span>&plus;</span>
                </div>
            </button>
        </div>
        <div id="app">
            <div id="block0" class="resizable-x">
                <div id="block1" class="resizable-y" style="flex: 33.33%;position:relative;">
                    <div id="block2" class="resizable" style="flex: 33.33%;position:relative;">
                    </div>
                    <div id="y0" class="resizer-y"></div>
                    <div id="block3" class="resizable-y" style="flex: 66.66%;position:relative;">
                        <div id="block4" class="resizable" style="flex: 33.33%;position:relative;">
                        </div>
                        <div id="y1" class="resizer-y"></div>
                        <div id="block5" class="resizable" style="flex: 33.33%;position:relative;">
                        </div>
                    </div>
                </div>
                <div id="x0" class="resizer-x"></div>
                <div id="block6" class="resizable-x" style="flex: 66.66%;position:relative;">
                    <div id="block7" class="resizable-y" style="flex: 50%;position:relative;">
                        <div id="block8" class="resizable" style="flex: 33.33%;position:relative;">
                        </div>
                        <div id="y2" class="resizer-y"></div>
                        <div id="block9" class="resizable-y" style="flex: 66.66%;position:relative;">
                            <div id="block10" class="resizable" style="flex: 33.33%;position:relative;">
                            </div>
                            <div id="y3" class="resizer-y"></div>
                            <div id="block11" class="resizable" style="flex: 33.33%;position:relative;">
                            </div>
                        </div>
                    </div>
                    <div id="x1" class="resizer-x"></div>
                    <div id="block12" class="resizable-y" style="flex: 50%;">
                        <div id="block13" class="resizable" style="flex: 33.33%;position:relative;">
                        </div>
                        <div id="y4" class="resizer-y"></div>
                        <div id="block14" class="resizable-y" style="flex: 66.66%;position:relative;">
                            <div id="block15" class="resizable" style="flex: 33.33%;position:relative;">
                            </div>
                            <div id="y5" class="resizer-y"></div>
                            <div id="block16" class="resizable" style="flex: 33.33%;position:relative;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <script>
            var inUse, inUseByElem = null;
            var orientation = null;
            var elemBeingAdded = false;
            (function ($) {

            var item,
                originalLocation,
                overMiddle = false,
                beingDragged = false;

            $.fn.dlResizeable = function( options ) {
                item = this;
                var initPageX = null;
                var initPageY = null;
                var pointerProperty = null;
                $(document).mousedown(function (e) {
                    if(overMiddle && !inUse && inUseByElem === null){
                        document.getElementById(e.target.id).style.pointerEvents = 'none';
                        pointerProperty = e.target.id;
                        document.querySelectorAll(".resizable").forEach((x)=>{
                            x.removeEventListener('mouseover',addResizable);
                            x.addEventListener('mouseenter',checkRectanglesMove,true);
                        });
                        originalLocation = item.offset();
                        document.querySelector(item.selector).style.zIndex = '200';   
                        document.querySelector(item.selector).style.opacity = '0.7';     
                        inUse = true;
                        inUseByElem = this;
                        beingDragged = overMiddle;
                        item.css("cursor", "move");
                    }
                });

                $(document).mouseup( function (e) {
                    if(inUse && inUseByElem === this){
                        if(pointerProperty!==null){
                            document.getElementById(pointerProperty).style.pointerEvents = 'auto';
                        }
                        document.querySelectorAll(".resizable").forEach((x)=>{
                            x.addEventListener('mouseover',addResizable);
                            x.removeEventListener('mouseenter',checkRectanglesMove,true);
                        });
                        if(e.target.id.includes('canvas') && !elemBeingAdded){
                            relocate(e.target.id,item);
                        }
                        else{
                            item.offset({top:originalLocation.top,left:originalLocation.left});

                        // document.querySelector(item.selector).style.position = 'relative';
                            document.querySelector(item.selector).style.zIndex = '0';  
                            document.querySelector(item.selector).style.opacity = '1';
                        }       
                        inUse = false;
                        inUseByElem = null;
                        beingDragged = false;
                        item.css("cursor", "default");
                    }
                });

                $(document).mousemove( function (e) {
                    if(inUseByElem === this || inUseByElem === null){
                        var parentOffset = item.offset();
                        if(parentOffset === undefined){
                            var relX = e.pageX;
                            var relY = e.pageY;
                        }
                        else{
                            var relX = e.pageX - parentOffset.left;
                            var relY = e.pageY - parentOffset.top;
                        }
                        var middle = relX < item.outerWidth() - 20 && relX > 20 && relY < item.outerHeight() - 20 && relY > 20;
                        overMiddle = middle;
                        if(!beingDragged){
                            if(overMiddle){
                                item.css("cursor", "move");
                            }
                            else {
                                item.css("cursor", "default");
                            }
                        }
                        if(beingDragged){
                            if(initPageX == null){
                                initPageX = relX;
                            }
                            if(initPageY == null){
                                initPageY = relY;
                            }
                            newWidth = relX;
                            if(newWidth + item.offset().left > 0){
                                item.offset({top:item.offset().top, left:item.offset().left + newWidth - initPageX})
                            }
                            newHeight = relY;
                            if(newHeight + item.offset().top > 0){
                                item.offset({top:item.offset().top + newHeight - initPageY, left:item.offset().left})
                            }
                        }
                    }
                });

                return this;
            }

            }(jQuery));





            window.onload = (function () {
                "use strict";
                resizer();
                var reload = false;
                window.addEventListener("resize",resizer);
                document.querySelectorAll(".resizable").forEach((x)=>{
                    x.addEventListener('mouseover',addResizable);
                });
            })();

            function addResizable(e){
                elem = "#" + e.target.id;
                if(elem !== "#"){
                    $(elem).dlResizeable();
                }
            }

            function animateButton(elem){
                elemBeingAdded = true;
                document.querySelectorAll(".resizable").forEach((x)=>{
                    var repl = x.cloneNode(true);
                    repl.addEventListener('mouseover', checkRectangles);
                    x.replaceWith(repl);
                })
                // document.querySelectorAll(".resizable").forEach((x)=>{
                // })
            }

            function checkRectanglesMove(e){
                document.querySelectorAll(".resizable").forEach((x)=>{
                    if(!(e.target.id).includes(x.getAttribute('id')) && document.getElementById(x.getAttribute('id') + 'canvas') != null){
                        document.getElementById(x.getAttribute('id') + 'canvas').remove();
                    }
                });
                var elem = e.target.id; 
                elem = "#" + elem;
                if(elem !== "#"){
                    var cvs = document.createElement('canvas');
                    cvs.setAttribute("id", e.target.id+'canvas');
                    cvs.style.position = 'absolute';
                    var topOffset, leftOffset;
                    if($(elem).offset() === undefined){
                        topOffset = 0;
                        leftOffset = 0;
                    }
                    else{
                        topOffset = $(elem).offset().top;
                        leftOffset = $(elem).offset().left;
                    }
                    cvs.style.top = topOffset;
                    cvs.style.left = leftOffset;
                    cvs.style.width = $(elem).outerWidth();
                    cvs.style.height = $(elem).outerHeight();
                    cvs.style.border = '1px solid rgb(0, 91, 105)';
                    cvs.style.borderRadius = '5px';
                    cvs.style.zIndex=1000;
                    if($(elem).outerWidth() > $(elem).outerHeight()){                    
                        cvs.style.width = $(elem).outerWidth()/2;
                        if((e.pageX - leftOffset) < ($(elem).width() / 2)) {
                            cvs.style.left = leftOffset;
                            orientation = 'left';
                        }  
                        else{
                            cvs.style.left = leftOffset + $(elem).outerWidth()/2;
                            orientation = 'right';
                        }                  
                    }
                    else{
                        cvs.style.height = $(elem).outerHeight()/2;
                        if((e.pageY - topOffset) < ($(elem).height() / 2)) {
                            // document.querySelector(elem).style.alignContent = 'flex-start';
                            cvs.style.top = topOffset;
                            orientation = 'top';

                        }  
                        else{
                            cvs.style.top = topOffset + $(elem).height()/2;
                            orientation = 'bottom';
                        }
                    }
                    document.querySelector('body').appendChild(cvs);
                    cvs.addEventListener('mouseout',()=>{
                        cvs.remove();
                        document.querySelector(elem).removeEventListener('mouseover',doThis);
                    });
                }
            }

            
            var blocks = 16;
            var xResizers = 2;
            var yResizers = 6;

            function checkRectangles(e){
                document.querySelectorAll(".resizable").forEach((x)=>{
                    if(!(e.target.id).includes(x.getAttribute('id')) && document.getElementById(x.getAttribute('id') + 'canvas') != null){
                        document.getElementById(x.getAttribute('id') + 'canvas').remove();
                    }
                });
                var elem = e.target.id; 
                elem = "#" + elem;
                var cvs = document.createElement('canvas');
                cvs.setAttribute("id", e.target.id+'canvas');
                cvs.style.position = 'absolute';
                var topOffset, leftOffset;
                if($(elem).offset() === undefined){
                    topOffset = 0;
                    leftOffset = 0;
                }
                else{
                    topOffset = $(elem).offset().top;
                    leftOffset = $(elem).offset().left;
                }
                cvs.style.top = topOffset;
                cvs.style.left = leftOffset;
                cvs.style.width = $(elem).outerWidth();
                cvs.style.height = $(elem).outerHeight();
                cvs.style.border = '1px solid rgb(0, 91, 105)';
                cvs.style.borderRadius = '5px';
                cvs.style.zIndex=1000;
                if($(elem).outerWidth() > $(elem).outerHeight()){                    
                    cvs.style.width = $(elem).outerWidth()/2;
                    if((e.pageX - leftOffset) < ($(elem).width() / 2)) {
                        cvs.style.left = leftOffset;
                        orientation = 'left';
                    }  
                    else{
                        cvs.style.left = leftOffset + $(elem).outerWidth()/2;
                        orientation = 'right';
                    }                  
                }
                else{
                    cvs.style.height = $(elem).outerHeight()/2;
                    if((e.pageY - topOffset) < ($(elem).height() / 2)) {
                        // document.querySelector(elem).style.alignContent = 'flex-start';
                        cvs.style.top = topOffset;
                        orientation = 'top';

                    }  
                    else{
                        cvs.style.top = topOffset + $(elem).height()/2;
                        orientation = 'bottom';
                    }
                }
                document.querySelector('body').appendChild(cvs);
                var check = true;
                cvs.addEventListener('click',()=>{
                    document.querySelector('body').removeChild(cvs);
                    document.querySelector(elem).addEventListener('mouseover',doThis);
                    // check = false;
                });
                if(check){
                    cvs.addEventListener('mouseout',()=>{
                        cvs.remove();
                        document.querySelector(elem).removeEventListener('mouseover',doThis);
                    });
                }
            }

            function resizableX(resizableName) {
                const resizer = document.querySelector(resizableName);
                resizer.addEventListener("mousedown", onmousedown);
                resizer.addEventListener("touchstart", ontouchstart);

                // for mobile
                function ontouchstart(e) {
                e.preventDefault();
                resizer.addEventListener("touchmove", ontouchmove);
                resizer.addEventListener("touchend", ontouchend);
                }
                function ontouchmove(e) {
                e.preventDefault();
                const clientX = e.touches[0].clientX;
                const deltaX = clientX - (resizer._clientX || clientX);
                resizer._clientX = clientX;
                const l = resizer.previousElementSibling;
                const r = resizer.nextElementSibling;
                // LEFT
                if (deltaX < 0) {
                    const w = Math.round(parseInt(getComputedStyle(l).width) + deltaX);
                    l.style.flex = `0 ${w < 10 ? 0 : w}px`;
                    r.style.flex = "1 0";
                }
                // RIGHT
                if (deltaX > 0) {
                    const w = Math.round(parseInt(getComputedStyle(r).width) - deltaX);
                    r.style.flex = `0 ${w < 10 ? 0 : w}px`;
                    l.style.flex = "1 0";
                }
                }
                function ontouchend(e) {
                e.preventDefault();
                resizer.removeEventListener("touchmove", ontouchmove);
                resizer.removeEventListener("touchend", ontouchend);
                delete e._clientX;
                }

                // for desktop
                function onmousedown(e) {
                e.preventDefault();
                document.addEventListener("mousemove", onmousemove);
                document.addEventListener("mouseup", onmouseup);
                }
                function onmousemove(e) {
                e.preventDefault();
                const clientX = e.clientX;
                const deltaX = clientX - (resizer._clientX || clientX);
                resizer._clientX = clientX;
                const l = resizer.previousElementSibling;
                const r = resizer.nextElementSibling;
                // LEFT
                if (deltaX < 0) {
                    const w = Math.round(parseInt(getComputedStyle(l).width) + deltaX);
                    l.style.flex = `0 ${w < 10 ? 0 : w}px`;
                    r.style.flex = "1 0";
                }
                // RIGHT
                if (deltaX > 0) {
                    const w = Math.round(parseInt(getComputedStyle(r).width) - deltaX);
                    r.style.flex = `0 ${w < 10 ? 0 : w}px`;
                    l.style.flex = "1 0";
                }
                }
                function onmouseup(e) {
                e.preventDefault();
                document.removeEventListener("mousemove", onmousemove);
                document.removeEventListener("mouseup", onmouseup);
                delete e._clientX;
                }
            }

            // vertical direction
            function resizableY(resizableName) {
                const resizer = document.querySelector(resizableName);
                resizer.addEventListener("mousedown", onmousedown);
                resizer.addEventListener("touchstart", ontouchstart);

                // for mobile
                function ontouchstart(e) {
                e.preventDefault();
                resizer.addEventListener("touchmove", ontouchmove);
                resizer.addEventListener("touchend", ontouchend);
                }
                function ontouchmove(e) {
                e.preventDefault();
                const clientY = e.touches[0].clientY;
                const deltaY = clientY - (resizer._clientY || clientY);
                resizer._clientY = clientY;
                const t = resizer.previousElementSibling;
                const b = resizer.nextElementSibling;
                // UP
                if (deltaY < 0) {
                    const h = Math.round(parseInt(getComputedStyle(t).height) + deltaY);
                    t.style.flex = `0 ${h < 10 ? 0 : h}px`;
                    b.style.flex = "1 0";
                }
                // DOWN
                if (deltaY > 0) {
                    const h = Math.round(parseInt(getComputedStyle(b).height) - deltaY);
                    b.style.flex = `0 ${h < 10 ? 0 : h}px`;
                    t.style.flex = "1 0";
                }
                }
                function ontouchend(e) {
                e.preventDefault();
                resizer.removeEventListener("touchmove", ontouchmove);
                resizer.removeEventListener("touchend", ontouchend);
                delete e._clientY;
                }

                // for desktop
                function onmousedown(e) {
                e.preventDefault();
                document.addEventListener("mousemove", onmousemove);
                document.addEventListener("mouseup", onmouseup);
                }
                function onmousemove(e) {
                e.preventDefault();
                const clientY = e.clientY;
                const deltaY = clientY - (resizer._clientY || clientY);
                resizer._clientY = clientY;
                const t = resizer.previousElementSibling;
                const b = resizer.nextElementSibling;
                // UP
                if (deltaY < 0) {
                    const h = Math.round(parseInt(getComputedStyle(t).height) + deltaY);
                    t.style.flex = `0 ${h < 10 ? 0 : h}px`;
                    b.style.flex = "1 0";
                }
                // DOWN
                if (deltaY > 0) {
                    const h = Math.round(parseInt(getComputedStyle(b).height) - deltaY);
                    b.style.flex = `0 ${h < 10 ? 0 : h}px`;
                    t.style.flex = "1 0";
                }
                }
                function onmouseup(e) {
                e.preventDefault();
                document.removeEventListener("mousemove", onmousemove);
                document.removeEventListener("mouseup", onmouseup);
                delete e._clientY;
                }
            }

            function resizer(){
                resizableX("#x0");
                resizableX("#x1");
                resizableY("#y0");
                resizableY("#y1");
                resizableY("#y2");
                resizableY("#y3");
                resizableY("#y4");
                resizableY("#y5");
            }

            // function previewRectangle(elem){
            //     var cvs = document.createElement('canvas');
            //     if($(elem).outerWidth > $(elem).outerHeight){
                    
            //     }
            //     document.querySelector(elem).appendChild()
            // }
            
            function doThis(e){
                var elem = e.target.id; 
                elem = "#" + elem;
                if(document.getElementById(e.target.id + 'canvas') != null){
                    document.getElementById(e.target.id + 'canvas').remove();
                }
                var stored = document.querySelector(elem).innerHTML;
                document.querySelector(elem).innerHTML = '';
                // elem = elem.substring(0, elem.length-6);
                $(elem).removeClass("resizable");
                var newDiv1 = document.createElement('div');
                var newDiv2 = document.createElement('div');
                newDiv1.style.position = 'relative';
                newDiv2.style.position = 'relative';
                newDiv1.setAttribute("id","block" + (++blocks));
                newDiv2.setAttribute("id","block" + (++blocks));
                newDiv1.setAttribute("class","resizable");
                newDiv2.setAttribute("class","resizable");
                newDiv1.style.flex = "50%";
                newDiv2.style.flex = "50%";
                if($(elem).outerWidth() > $(elem).outerHeight()){
                    if(orientation === 'left'){
                        newDiv2.innerHTML = stored;
                    }
                    else{
                        newDiv1.innerHTML = stored;
                    }
                    var id = "x" + xResizers++;
                    $(elem).addClass("resizable-x")
                    var resizerDiv = document.createElement('div');
                    resizerDiv.setAttribute("id",id);
                    resizerDiv.setAttribute("class","resizer-x");
                    document.querySelector(elem).appendChild(newDiv1);
                    document.querySelector(elem).appendChild(resizerDiv);
                    document.querySelector(elem).appendChild(newDiv2);

                    var str = resizer.toString().replace(/\s/g,'');
                    var strlen = str.length;
                    var start = str.indexOf('{');
                    str = str.substring(start+1,strlen-1);
                    str = str + "resizableX(\"#"+id+"\");";
                    resizer = new Function(str); 
                    // resizer();  
                    // reload = true;                         
                }
                else{
                    if(orientation === 'top'){
                        newDiv2.innerHTML = stored;
                    }
                    else{
                        newDiv1.innerHTML = stored;
                    }
                    var id = "y" + yResizers++;
                    $(elem).addClass("resizable-y")
                    var resizerDiv = document.createElement('div');
                    resizerDiv.setAttribute("id",id);
                    resizerDiv.setAttribute("class","resizer-y");
                    document.querySelector(elem).appendChild(newDiv1);
                    document.querySelector(elem).appendChild(resizerDiv);
                    document.querySelector(elem).appendChild(newDiv2);       
                    
                    var str = resizer.toString().replace(/\s/g,'');
                    var strlen = str.length;
                    var start = str.indexOf('{');
                    str = str.substring(start+1,strlen-1);
                    // console.log(str);
                    str = str + "resizableY(\"#"+id+"\");";
                    resizer = new Function(str);   

                    // reload = true; 
                }
                document.querySelector(elem).replaceWith(document.querySelector(elem).cloneNode(true));
                document.querySelectorAll(".resizable").forEach((x)=>{
                    var repl = x.cloneNode(true);
                    repl.addEventListener('mouseover', addResizable);
                    x.replaceWith(repl);
                });
                elemBeingAdded = false;
                resizer();
            }

            function relocate(elemToMoveTo, itemBeingMoved){
                if(elemToMoveTo.includes('canvas')){
                    elemToMoveTo = elemToMoveTo.substring(0,elemToMoveTo.length-6);
                }
                elem = '#' + elemToMoveTo;
                var itemID = itemBeingMoved.selector;
                var itemNode = document.querySelector(itemID);
                var itemInnerHTML = itemNode.innerHTML;
                var parentNode = itemNode.parentNode;
                var resizerToRemove = parentNode.children[1].id;
                if(parentNode.children[0] === itemNode){
                    // if(parentNode.children[2].id === elemToMoveTo){
                        parentNode.id = parentNode.children[2].id;
                    // }
                    parentNode.classList = parentNode.children[2].classList;
                    parentNode.innerHTML = parentNode.children[2].innerHTML;   
                }
                else{
                    // if(parentNode.children[0].id === elemToMoveTo){
                        parentNode.id = parentNode.children[0].id;
                    // }
                    parentNode.classList = parentNode.children[0].classList;
                    parentNode.innerHTML = parentNode.children[0].innerHTML;
                }

                var newDiv1 = document.createElement('div');
                var newDiv2 = document.createElement('div');
                newDiv1.style.position = 'relative';
                newDiv2.style.position = 'relative';
                newDiv1.setAttribute("id","block" + (++blocks));
                newDiv2.setAttribute("id", itemNode.id);
                newDiv1.setAttribute("class","resizable");
                newDiv2.setAttribute("class","resizable");
                newDiv1.style.flex = "50%";
                newDiv2.style.flex = "50%";
                newDiv2.innerHTML = itemNode.innerHTML;
                newDiv1.innerHTML = document.getElementById(elemToMoveTo).innerHTML;
                document.getElementById(elemToMoveTo).innerHTML = '';
                $(elem).removeClass("resizable");
                // newDiv2.style.flex = "50%";
                if($(elem).outerWidth() > $(elem).outerHeight()){
                    $(elem).addClass("resizable-x")
                    var resizerDiv = document.createElement('div');
                    resizerDiv.setAttribute("id",resizerToRemove);
                    resizerDiv.setAttribute("class","resizer-x");
                    if(orientation === 'left'){
                        document.querySelector(elem).appendChild(newDiv2);
                        document.querySelector(elem).appendChild(resizerDiv);
                        document.querySelector(elem).appendChild(newDiv1);
                    }
                    else{
                        document.querySelector(elem).appendChild(newDiv1);
                        document.querySelector(elem).appendChild(resizerDiv);
                        document.querySelector(elem).appendChild(newDiv2);
                    }
                    var str = resizer.toString().replace(/\s/g,'');
                    if(resizerToRemove.includes('y')){
                        str = str.replace("resizableY(\"#"+resizerToRemove+"\");","resizableX(\"#"+resizerToRemove+"\");");  
                    }
                    var strlen = str.length;
                    var start = str.indexOf('{');
                    str = str.substring(start+1,strlen-1);
                    // else{
                    //     str = str.replace()
                    // }
                    // str = str.replace("")"resizableY(\"#"+resizerToRemove+"\");";
                    resizer = new Function(str);                       
                }
                else{
                    $(elem).addClass("resizable-y")
                    var resizerDiv = document.createElement('div');
                    resizerDiv.setAttribute("id",resizerToRemove);
                    resizerDiv.setAttribute("class","resizer-y");
                    if(orientation === 'top'){
                        document.querySelector(elem).appendChild(newDiv2);
                        document.querySelector(elem).appendChild(resizerDiv);
                        document.querySelector(elem).appendChild(newDiv1);
                    }
                    else{
                        document.querySelector(elem).appendChild(newDiv1);
                        document.querySelector(elem).appendChild(resizerDiv);
                        document.querySelector(elem).appendChild(newDiv2);
                    }
                    var str = resizer.toString().replace(/\s/g,'');
                    if(resizerToRemove.includes('x')){
                        str = str.replace("resizableX(\"#"+resizerToRemove+"\");","resizableY(\"#"+resizerToRemove+"\");");  
                    }
                    var strlen = str.length;
                    var start = str.indexOf('{');
                    str = str.substring(start+1,strlen-1);
                    // else{
                    //     str = str.replace()
                    // }
                    // str = str.replace("")"resizableY(\"#"+resizerToRemove+"\");";
                    resizer = new Function(str); 
                    // reload = true; 
                }
                document.querySelector(elem).replaceWith(document.querySelector(elem).cloneNode(true));
                document.querySelectorAll(".resizable").forEach((x)=>{
                    var repl = x.cloneNode(true);
                    repl.addEventListener('mouseover', addResizable);
                    x.replaceWith(repl);
                });
                resizer();
            }

        </script>
        </div>
    </body>
</html>