@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

html,
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#sideBar{
  margin: 0;
  width: max-content;
  background-color: transparent;
  position: fixed;
  height: 100%;
  padding: 10px;
  overflow: auto;
  z-index: 1;
}

.data {
  text-align: center;
  color: white;
  white-space: pre-wrap;
  margin: 20px;
  font-family: SpaceMono;
  font-size: 20px;
}

.meter,.graph,.data{
  pointer-events: none;
}

.menu{
  position: absolute;
  top: 0;
  right: 0;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.leaflet-container {
  background: #000;
  border-radius: 5px;
}

.menuButton{
  padding: min(10px, 1vw);
  color: rgb(189, 189, 189);
  background-color: transparent;
  border: none;
  font-size: 5px;
  z-index: 200;
  /* background-color: rgba(15, 15, 15); */
}

.menuButton:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

.menu-dropdown{
  position: absolute;
  width: max-content;
  height: auto;
  border-width: 0px;
  font-size: 0px;
  opacity: 0;
  z-index: 0;
  background-color: rgb(20, 20, 20);
  /* padding: 20px; */
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  /* border: 1px solid rgb(40, 40, 40); */
  color: white;
  font-family: SpaceMono;
  overflow: hidden;
  transform: scale(0);
  /* transition: all 0.5s; */
}

.hide{
  animation: hide 0.2s forwards;
}

.show{
  animation: show 0.2s forwards;
}

@keyframes show {
  0%{
    transform: scale(0);
    border-width: 0px;
    font-size: 0px;
    opacity: 0;
    z-index: 0;
  }
  100%{
    transform: scale(1);
    border-width: 1px;
    font-size: medium;
    opacity: 1;
    z-index: 1000;
  }
}

@keyframes hide {
  100%{
    transform: scale(0);
    border-width: 0px;
    font-size: 0px;
    opacity: 0;
    z-index: 0;
  }
  0%{
    transform: scale(1);
    border-width: 1px;
    font-size: medium;
    opacity: 1;
    z-index: 1000;
  }
}
/* .hide{
  width: 0;
  height: 0;
  border-width: 0px;
  font-size: 0px;
  opacity: 0;
  z-index: 0;
}

.show{
  width: 200px;
  height: auto;
  
} */

.add_plus{
  height: 50px;
  width: 50px;
  justify-content: center;
  vertical-align:middle;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgb(20, 20, 20);
  background-color: rgb(15, 15, 15);
  color: white;
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  z-index: 1;
  font-size: x-large;
}
.add_plus:hover{
  background-color:white;
  color: rgb(20, 20, 20);
  cursor:pointer;
}

#app {
  width: calc(100% - 70px);
  height: 100%;
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.resizable-x,
.resizable-y {
  display: flex;
  overflow: visible;
}

.resizable-x {
  height: 100%;
}

.resizable-y {
  height: 100%;
  flex-direction: column;
}

h1{
  pointer-events: none;
}

.resizer-x,
.resizer-y {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 3px;
}

.resizer-x {
  z-index: 2;
  cursor: col-resize;
}
.resizer-x::before,
.resizer-x::after {
  content: '';
  width: 0.5px;
  height: 16px;
  margin: 0px;
  background: rgb(110, 110, 110);
}

.resizer-y {
  z-index: 1;
  cursor: row-resize;
  flex-direction: column;
}
.resizer-y::before,
.resizer-y::after {
  content: "";
  width: 16px;
  height: 0.5px;
  margin: 0px;
  background: rgb(110, 110, 110);
}

.loadingScreen{
  display: grid;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  justify-items: center;
  align-items: center;
  pointer-events: none;
  z-index: 2000;
  opacity: 1;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fade {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
  
}

.resizable {
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  border: 0.1px solid rgb(31, 31, 31);
  background-color: rgb(12, 12, 12);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}